body {
    margin: 0;
    min-height: 100vh;

    text-align: center;
    font-family: Arial, sans-serif;

    background-image: url("goofyb5.jpeg
");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 30px;
}

#cookie {
    font-size: 100px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.1s;
}

#cookie:hover {
    transform: scale(1.1);
}

#cookie:active {
    transform: scale(0.9);
}

body {
      margin: 0;
      min-height: 100vh;
      background-image: url("gif/B10.gif");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
